@model BeautyAndThePet.Web.ViewModels.Pets.MatchedPetsListViewModel
@{
    if (Model.MatchedPets.Any())
    {
        this.ViewData["Title"] = "Matched pets";
    }
    else
    {
        this.ViewData["Title"] = "No matched pets :(";
    }
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<div class="col-md-6">
    @foreach (var pet in Model.MatchedPets)
    {
        <div class="media font">
            <img src="@pet.ImageUrl" width="100" class="mr-3 img-responsive">
            <div class="media-body">
                <h4 class="mt-0">@pet.Name</h4>
                <hr />
                <div class="h5">
                    <p>Specie: @pet.TypeOfPet</p>
                    <hr />
                    <p>Breed: @pet.BreedName</p>
                    <hr />
                    <p>Sex: @pet.Sex</p>
                    <hr />
                    <p>Town: @pet.OwnerAddressTown</p>
                    <hr />
                    <p>Date of birth: @pet.BirthDate.ToShortDateString()</p>
                    <hr />
                    <p>Start of sexual activity: @pet.StartOfPeriod.ToShortDateString()</p>
                    <hr />
                    <p>End of sexual activity: @pet.EndOfPeriod.ToShortDateString()</p>
                    <hr />
                    <p>Description: @pet.Description</p>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" asp-controller="Pets" asp-action="ViewPetInfo" asp-route-id="@pet.Id">View</a>
        <a class="btn btn-warning" asp-controller="Messages" asp-action="New" asp-route-id="@pet.Id">Message</a>
        <hr />
    }
</div>
