@model BeautyAndThePet.Web.ViewModels.Pets.MyPetsListViewModel
@{
    this.ViewData["Title"] = "My pets";
}

<h1>@this.ViewData["Title"]</h1>

@foreach (var pet in Model.MyPets)
{
    
    <div class="media">
        <img src="@pet.ImageUrl" width="100" class="mr-3 img-responsive">
        <div class="media-body">
            <h5 class="mt-0">@pet.Name</h5>
            <p>@pet.TypeOfPet</p>
            <p>@pet.BreedName</p>
            <p>@pet.Sex</p>
            <p>@pet.BirthDate.ToShortDateString()</p>
            <p>@pet.StartOfPeriod.ToShortDateString()</p>
            <p>@pet.EndOfPeriod.ToShortDateString()</p>
            <p>@pet.Description</p>
        </div>
    </div>

    <a class="btn btn-primary" asp-controller="Pets" asp-action="ViewPetInfo" asp-route-id="@pet.Id">View</a>

    <a class="btn btn-primary" asp-controller="Pets" asp-action="MatchedPets" asp-route-id="@pet.Id">Choose</a>

    @*<a asp-controller="Pets" asp-action="Create">Create pet</a>*@
}




@*<div class="text-center">
        <h1 class="display-4">My pets</h1>
        <p>Pets dating pets!</p>
        <p>@Model.Name</p>
        <p>@Model.TypeOfPet</p>
        <p>@Model.Breed</p>
        <p>@Model.Sex</p>
        <p>@Model.AvailableFrom</p>
        <p>@Model.AvailableTo</p>
    </div>*@