@model BeautyAndThePet.Web.ViewModels.Pets.MyPetsListViewModel
@{
    this.ViewData["Title"] = "My pets";
}

@foreach (var pet in Model.MyPets)
{
    <h1>@this.ViewData["Title"]</h1>
    <div class="media">
        <img src="..." width="100" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">@pet.Name</h5>
            <p>@pet.TypeOfPet</p>
            <p>@pet.Breed</p>
            <p>@pet.Sex</p>
            <p>@pet.AvailableFrom</p>
            <p>@pet.AvailableTo</p>
        </div>
    </div>
}


@*<div class="text-center">
        <h1 class="display-4">My pets</h1>
        <p>Pets dating pets!</p>
        <p>@Model.Name</p>
        <p>@Model.TypeOfPet</p>
        <p>@Model.Breed</p>
        <p>@Model.Sex</p>
        <p>@Model.AvailableFrom</p>
        <p>@Model.AvailableTo</p>
    </div>*@