@model BeautyAndThePet.Web.ViewModels.Pets.MyPetsListViewModel
@{
    if (Model.MyPets.Any())
    {
        this.ViewData["Title"] = "My pets";
    }
    else
    {
        this.ViewData["Title"] = "No pets :(";
    }
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
@foreach (var pet in Model.MyPets)
{
    <div class="media font">
        <img src="@pet.ImageUrl" width="200" class="mr-3 img-responsive">
        <div class="media-body">
            <h4 class="mt-0">@pet.Name</h4>
            <hr />
            <p>Breed: @pet.BreedName</p>
            <hr />
            <p>Sex: @pet.Sex</p>
            <hr />
            <p>Start of Sexual activity: @pet.StartOfPeriod.ToShortDateString()</p>
            <hr />
            <p>End of Sexual activity: @pet.EndOfPeriod.ToShortDateString()</p>
        </div>
    </div>
    <a class="btn btn-primary" asp-controller="Pets" asp-action="ViewPetInfo" asp-route-id="@pet.Id">View</a>
    <a class="btn btn-warning" asp-controller="Pets" asp-action="MatchedPets" asp-route-id="@pet.Id">Pick</a>
    <hr/>
}