@using BeautyAndThePet.Common
@model BeautyAndThePet.Web.ViewModels.Pets.PetViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<div class="media">
    <img src="@Model.ImageUrl" width="100" class="mr-3 img-responsive">
    <div class="media-body">
        <h5 class="mt-0">@Model.Name</h5>
        <p>@Model.TypeOfPet</p>
        <p>@Model.BreedName</p>
        <p>@Model.Sex</p>
        <p>@Model.StartOfPeriod</p>
        <p>@Model.EndOfPeriod</p>
        <p>@Model.BirthDate</p>
        <p>@Model.Description</p>
        <p>@Model.OwnerUserName</p>

    </div>
</div>

@if (this.User.Identity.Name == Model.OwnerUserName)
{

    <a asp-controller="Pets" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
}
else
{

    <a asp-controller="Messages" asp-action="New" asp-route-id="@Model.Id" class="btn btn-secondary">Message</a>
}


@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))@*Or is owner*@
{

    @*<li class="single-meta">
            <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
            </form>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </li>
        <li class="single-meta">
            <form method="post" asp-action="SendToEmail" asp-route-id="@Model.Id">
                <button class="btn btn-warning">Send to my email</button>
            </form>
        </li>
        <li class="single-meta">
            <button class="btn btn-warning" onclick="window.print()">Print</button>
        </li>*@
}










@*<li class="page-item @if (!Model.HasPrevousPage) { <text>disabled</text>}">
        <a class="page-link" asp-action="All" asp-route-id="@Model.PrevousPageNumber">Previous</a>
    </li>

    <a asp-controller="Pets" asp-action="Create">Create pet</a>*@