@using BeautyAndThePet.Web.ViewModels.Messages
@model MessagesListViewModel
@{
    this.ViewData["Title"] = "Received messages";
}

@foreach (var message in Model.Messages)
{
    <div>
        <h1>@this.ViewData["Title"]</h1>
        <div>
            <p>@message.From</p>
            <p>@message.Text</p>
            <p>@message.SentOn</p>
        </div>
        <a class="btn btn-primary" asp-controller="Messages" asp-action="ReadReceivedMessage" asp-route-id="@message.Id">Read</a>
        <hr />
    </div>

}