@using BeautyAndThePet.Web.ViewModels.Messages
@model MessagesListViewModel
@{
    this.ViewData["Title"] = "Sent messages";
}

<h1>@this.ViewData["Title"]</h1>
@foreach (var message in Model.Messages)
{
    <div>
        <p>@message.To</p>
        <p>@message.Text</p>
        <p>@message.SentOn</p>
    </div>

    <a class="btn btn-primary" asp-controller="Messages" asp-action="ReadSentMessage" asp-route-id="@message.Id">View</a>

    <hr />
}