@using BeautyAndThePet.Web.ViewModels.Messages
@model MessagesListViewModel
@{
    if (Model.Messages.Any())
    {
        this.ViewData["Title"] = "Sent messages";
    }
    else
    {
        this.ViewData["Title"] = "You have no sent messages yet";
    }
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
@foreach (var message in Model.Messages)
{
    <div>
        <p>To: @message.To</p>
        <p>Text: @message.Text</p>
        <p>Sent on: @message.SentOn</p>
    </div>

    <a class="btn btn-primary" asp-controller="Messages" asp-action="ReadSentMessage" asp-route-id="@message.Id">View</a>
    <hr />
}